.app-container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 70px 1fr 70px;
    column-gap: 1rem;
    position: relative;
}

.sidebar {
    grid-area: 1 / 1 / 4 / 2;
    background: linear-gradient( to top, rgba(255, 255, 255, 0.07), rgba(265, 255, 255, 0.08) );
}

.top-header {
    grid-area: 1 / 2 / 2 / 3;
}

.main-content {
    grid-area: 2 / 2 / 3 / 3;
}

.player-bar {
    grid-area: 3 / 2 / 4 / 3;
}
.modalOverlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 10;
    animation: popUp 0.2s ease-out;
    display: none;
}

    .modalOverlay.active {
        display: block;
    }