/* BANNER SECTION */
.banner-section {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.banner-left {
  grid-column: 1; /* nằm ở cột trái */
}

.banner-container {
  grid-column: 2; /* nằm ở cột giữa */
  display: flex;
  overflow: hidden;
  height: 200px;
  position: relative;
  border-radius: 1rem;
}

.banner-right {
  grid-column: 3; /* nằm ở cột phải */
}

/* Ẩn thanh cuộn (Chrome/Safari) */
.banner-container::-webkit-scrollbar {
  display: none;
}

/* Từng khối Banner riêng lẻ */
.banner-item {
  width: 100%;
  height: 100%;
  overflow: hidden; /* Để ảnh không bị tràn ra ngoài bo tròn */
  position: absolute;
  cursor: pointer;
  background-color: var(--text-gray);
}

/* Hình ảnh trong banner */
.banner-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease; /* Hiệu ứng phóng to chậm */
}

/* Hiệu ứng khi di chuột vào banner */
.banner-item:hover img {
  transform: scale(1.05); /* Phóng to ảnh lên 5% */
}

/* Lớp phủ tối màu (để chữ dễ đọc hơn nếu có) */
.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent);
  border-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.3s;
  z-index: 10;
}

.banner-container:hover .banner-overlay {
  opacity: 1; /* Hiện chữ khi hover */
}

.banner-overlay h3 {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

/* Nút mũi tên điều hướng */
.banner-left,
.banner-right {
  color: var(--text-gray);
  border: none;
  height: 100%;
  cursor: pointer;
  transition: linear 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  position: absolute;
}

.banner-left {
  left: 0;
  transform: translateX(-150%);
}
.banner-right {
  right: 0;
  transform: translateX(150%);
}

.banner-left:hover,
.banner-right:hover {
  color: var(--text-color);
}
