.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.top-header-left {
  display: flex;
  align-items: center;
  height: 80%;
  flex: 1;
  gap: 20px;
}
.nav-arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  height: 100%;
}

.nav-arrows .btn-arrow {
  border: none;
  color: var(--text-sub);
  font-size: 1.8rem;
  cursor: pointer;
  background-color: var(--header-icon-bg);
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  transition: all linear 0.2s;
}
.nav-arrows .btn-arrow:hover {
  color: white;
  transform: scale(1.1);
}
.search-wrapper {
  position: relative; /* Để dropdown bám theo thằng này */
  flex: 1;
  max-width: 450px;
  height: 100%;
}

/* Ô nhập liệu chính */
.search-bar {
  background-color: var(--header-icon-bg);
  padding: 0 1rem;
  border-radius: 25px; /* Bo tròn viên thuốc */
  display: flex;
  align-items: start;
  gap: 10px;
  /* border: 1px solid transparent; */
  transition: 0.3s;
  height: 100%;
}

/* Khi bấm vào thì viền sáng lên */
.search-bar:focus-within {
  background-color: var(--bg-color); /* Màu tím tối */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);

  border-radius: 20px 20px 0 0; /* Vuông góc dưới để nối với dropdown */
}
.search-bar input::placeholder {
  color: var(--text-sub);
}
.search-bar input {
  background: transparent;
  border: none;
  color: white;
  width: 100%;
  height: 95%;
  outline: none;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
}

.search-icon {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-icon i {
  color: var(--text-sub);
  font-size: 2rem;
}
.close-icon {
  color: #b3b3b3;
  cursor: pointer;
  display: none; /* Mặc định ẩn, hiện khi có chữ */
}

/* --- DROPDOWN GỢI Ý --- */
.search-dropdown {
  display: none; /* Mặc định ẩn */
  position: absolute;
  top: 100%; /* Nằm ngay dưới thanh tìm kiếm */
  left: 0;
  width: 100%;
  background-color: var(--bg-color); /* Màu tím đậm giống hình */
  border-radius: 0 0 20px 20px;
  padding: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition: linear 0.2s;
}

.section-title {
  font-size: 13px;
  color: white;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* List từ khóa */
.keyword-list {
  list-style: none;
  padding: 0;
}

.keyword-list li {
  padding: 8px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #b3b3b3;
  font-size: 14px;
  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;
}

.keyword-list li a {
  color: #fff;
  text-decoration: none;
  width: 100%;
}
.keyword-list li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* List gợi ý bài hát/nghệ sĩ */
.suggest-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 10px;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.2s;
  margin-bottom: 5px;
}

.suggest-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.suggest-item img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 4px;
}

.suggest-item .info {
  display: flex;
  flex-direction: column;
}

.suggest-item .name {
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.suggest-item .sub {
  color: #888;
  font-size: 12px;
  margin-top: 2px;
}
.header-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn-vip {
  background: gold;
  color: black;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 12px;
}

.btn-login-header {
  background-color: #00e5ce;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.btn-icon {
  background: transparent;
  border: none;
  color: #b3b3b3;
  font-size: 18px;
  cursor: pointer;
}
