.app-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: clamp(200px, 250px, 25%) 1fr;
  grid-template-rows: 70px 1fr 70px;
  column-gap: 1rem;
  padding: 1rem;
}

.sidebar {
  grid-area: 1 / 1 / 4 / 2;
}
.top-header {
  grid-area: 1 / 2 / 2 / 3;
}
.main-content {
  grid-area: 2 / 2 / 3 / 3;
}
.player-bar {
  grid-area: 3 / 2 / 4 / 3;
}
