.main-content {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem 1rem 1rem 0;
  display: grid;
  gap: 2rem;
  padding: 0 3rem;
}
/* 1. Dành cho Chrome, Safari, Edge, Opera (Trình duyệt phổ biến) */
.main-content::-webkit-scrollbar {
  display: none;
}

/* 2. Dành cho Firefox và IE */
.main-content {
  -ms-overflow-style: none; /* IE và Edge cũ */
  scrollbar-width: none; /* Firefox */
}
