USE [MusicWebDB]
GO
/****** Object:  Table [dbo].[Artists]    Script Date: 11/01/2026 11:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artists](
	[ArtistID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Image] [nvarchar](255) NULL,
	[Bio] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ArtistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorites]    Script Date: 11/01/2026 11:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorites](
	[UserID] [int] NOT NULL,
	[SongID] [int] NOT NULL,
	[AddedAt] [datetime] NULL,
 CONSTRAINT [PK_Favorites] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[SongID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Songs]    Script Date: 11/01/2026 11:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Songs](
	[SongID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[ArtistID] [int] NULL,
	[Url] [nvarchar](255) NOT NULL,
	[Image] [nvarchar](255) NULL,
	[Duration] [int] NULL,
	[ViewCount] [int] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SongID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/01/2026 11:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Avatar] [nvarchar](255) NULL,
	[Role] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Artists] ON 

INSERT [dbo].[Artists] ([ArtistID], [Name], [Image], [Bio]) VALUES (1, N'Sơn Tùng M-TP', N'/Assets/Images/Artists/st.jpg', N'Chưa có thông tin giới thiệu.')
INSERT [dbo].[Artists] ([ArtistID], [Name], [Image], [Bio]) VALUES (2, N'Đen Vâu', N'/Assets/Images/Artists/den.jpg', N'Chưa có thông tin giới thiệu.')
INSERT [dbo].[Artists] ([ArtistID], [Name], [Image], [Bio]) VALUES (3, N'Hoàng Thùy Linh', N'/Assets/Images/Artists/htl.jpg', N'Chưa có thông tin giới thiệu.')
SET IDENTITY_INSERT [dbo].[Artists] OFF
GO
INSERT [dbo].[Favorites] ([UserID], [SongID], [AddedAt]) VALUES (2, 1, CAST(N'2026-01-11T22:07:51.043' AS DateTime))
INSERT [dbo].[Favorites] ([UserID], [SongID], [AddedAt]) VALUES (2, 2, CAST(N'2026-01-11T22:07:51.043' AS DateTime))
INSERT [dbo].[Favorites] ([UserID], [SongID], [AddedAt]) VALUES (2, 5, CAST(N'2026-01-11T22:07:51.043' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Songs] ON 

INSERT [dbo].[Songs] ([SongID], [Title], [ArtistID], [Url], [Image], [Duration], [ViewCount], [CreatedAt]) VALUES (1, N'Cơn Mưa Ngang Qua', 1, N'/Assets/Songs/song1.mp3', N'/Assets/Images/Songs/cmna.jpg', 230, 2242154, CAST(N'2026-01-11T16:37:37.470' AS DateTime))
INSERT [dbo].[Songs] ([SongID], [Title], [ArtistID], [Url], [Image], [Duration], [ViewCount], [CreatedAt]) VALUES (2, N'Em Của Ngày Hôm Qua', 1, N'/Assets/Songs/song1.mp3', N'/Assets/Images/Songs/ecnhq.jpg', 245, 1339640, CAST(N'2026-01-11T16:37:37.470' AS DateTime))
INSERT [dbo].[Songs] ([SongID], [Title], [ArtistID], [Url], [Image], [Duration], [ViewCount], [CreatedAt]) VALUES (3, N'Chạy Ngay Đi', 1, N'/Assets/Songs/song1.mp3', N'/Assets/Images/Songs/cnd.jpg', 250, 1826053, CAST(N'2026-01-11T16:37:37.470' AS DateTime))
SET IDENTITY_INSERT [dbo].[Songs] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Password], [FullName], [Avatar], [Role]) VALUES (1, N'admin', N'123', N'Administrator', N'/Assets/Images/default-avatar.png', N'Admin')
INSERT [dbo].[Users] ([UserID], [Username], [Password], [FullName], [Avatar], [Role]) VALUES (2, N'nghia', N'123', N'Nghĩa Dev', N'/Assets/Images/default-avatar.png', N'User')
INSERT [dbo].[Users] ([UserID], [Username], [Password], [FullName], [Avatar], [Role]) VALUES (3, N'user1', N'123', N'Khán giả số 1', N'/Assets/Images/default-avatar.png', N'User')
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4AFB673E5]    Script Date: 11/01/2026 11:34:56 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Artists] ADD  DEFAULT ('/Assets/Images/default-artist.png') FOR [Image]
GO
ALTER TABLE [dbo].[Artists] ADD  DEFAULT (N'Chưa có thông tin giới thiệu.') FOR [Bio]
GO
ALTER TABLE [dbo].[Favorites] ADD  DEFAULT (getdate()) FOR [AddedAt]
GO
ALTER TABLE [dbo].[Songs] ADD  DEFAULT ((0)) FOR [Duration]
GO
ALTER TABLE [dbo].[Songs] ADD  DEFAULT ((0)) FOR [ViewCount]
GO
ALTER TABLE [dbo].[Songs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('/Assets/Images/default-avatar.png') FOR [Avatar]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('User') FOR [Role]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_Songs] FOREIGN KEY([SongID])
REFERENCES [dbo].[Songs] ([SongID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_Songs]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_Users]
GO
ALTER TABLE [dbo].[Songs]  WITH CHECK ADD FOREIGN KEY([ArtistID])
REFERENCES [dbo].[Artists] ([ArtistID])
GO
